.recipes {
}

.recipe {
    margin-bottom: 4px;
}

.recipe .name {
    font-size: 140%;
}

.recipe .ingredients {
    padding-left: 4em;
}

.ingredients {
}

.ingredient {
    margin-bottom: 4px;
}

.ingredient .name {
    font-size: 140%;
}

.ingredient .recipes {
    padding-left: 4em;
}

.recipe-details .text {
  white-space: pre-line;
}